<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Suscripción a Netflix Plus</title>
    <style>
        .netflix-header {
            background-color: #E50914; /* Rojo de Netflix */
            color: white;
            padding: 10px;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
        }

        .card-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70vh;
        }

        .subscription-card {
            width: 400px;
        }

        #progressBarContainer {
            display: none;
        }
    </style>

    <!-- Agregar Resumable.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/resumable.js/1.1.0/resumable.min.js"></script>
</head>
<body>

<div class="netflix-header">
    Netflix Plus 
    <a href="/streaming/logout" class="btn btn-danger float-right">Cerrar Sesión</a>
</div>

<div class="container mt-5">
    <!-- Formulario con ID para Resumable.js -->
    <form action="/upload" method="post" enctype="multipart/form-data" id="resumable-form">
        <!-- Input de archivo -->
        <div class="form-group">
            <input type="file" class="form-control" name="archivo" id="fileInput">
        </div>
        
        <!-- Dropdown para seleccionar archivo a modificar -->
        <div class="form-group">
            <label for="fileToModify">Selecciona una película a modificar</label>
            <select class="form-control" id="fileToModify" name="fileToModify">
                {% for video in catalogo %}
                    <option value="{{ video.id }}">{{ video.nombre }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="fileToModify">Selecciona una opción</label>
            <select class="form-control" id="tipoSubida" name="tipoSubida">
                <option value="1">Local</option>
                <option value="2">Google Cloud</option>
            </select>
        </div>

        <button type="button" class="btn btn-primary" onclick="uploadFile()">Subir archivo</button>
       
        <div id="progressBarContainer">
            <progress id="progressBar" max="100" value="0"></progress>
            <span id="progressPercentage">0%</span>
        </div>
    </form>
</div>

 
 
<!-- Agregar el script de Bootstrap y jQuery (necesarios para algunos componentes de Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>
    function uploadFile() {
        var fileInput = document.getElementById('fileInput');
        var fileToModify = document.getElementById('fileToModify').value;
        var tipoSubida = document.getElementById('tipoSubida').value;
        var progressBarContainer = document.getElementById('progressBarContainer');
        var progressBar = document.getElementById('progressBar');
        var progressPercentage = document.getElementById('progressPercentage');

        var file = fileInput.files[0];
        if (!file) {
            alert('Por favor, selecciona un archivo.');
            return;
        }

        // Validar el tamaño del archivo (entre 1MB y 100MB)
        var maxSizeInBytes = 100 * 1024 * 1024; // 100 MB
        var minSizeInBytes = 1 * 1024 * 1024;   // 1 MB

        if (file.size > maxSizeInBytes || file.size < minSizeInBytes) {
            alert('El tamaño del archivo debe estar entre 1MB y 100MB.');
            return;
        }

        var formData = new FormData();
        formData.append('file', file);
        formData.append('fileToModify', fileToModify);
        formData.append('tipoSubida', tipoSubida);

        var xhr = new XMLHttpRequest();

        xhr.upload.onprogress = function(event) {
            if (event.lengthComputable) {
                var percentage = (event.loaded / event.total) * 100;
                progressBar.value = percentage;
                progressPercentage.innerText = percentage.toFixed(2) + '%';
            }
        };

        xhr.open('POST', '/streaming/subir-archivo', true);
        xhr.send(formData);

        progressBarContainer.style.display = 'block';
    }
</script>

</body>
</html>
