<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Suscripción a Netflix Plus</title>
    <style>
        .netflix-header {
            background-color: #E50914; /* Rojo de Netflix */
            color: white;
            padding: 10px;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
        }

        .card-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70vh;
        }

        .subscription-card {
            width: 400px;
        }

        #progressBarContainer {
            display: none;
        }
    </style>

    <!-- Agregar Resumable.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/resumable.js/1.1.0/resumable.min.js"></script>
</head>
<body>

<div class="netflix-header">
    Netflix Plus 
    <a href="/streaming/logout" class="btn btn-danger float-right">Cerrar Sesión</a>
</div>

<div class="container mt-5">
    <h3>Subir archivos al servidor: Instancia: {{ubicacion}}</h3>
    
    <!-- Formulario con ID para Resumable.js -->
    <form action="/upload" method="post" enctype="multipart/form-data" id="resumable-form">
        <!-- Input de archivo -->
        <div class="form-group">
            <input type="file" class="form-control" name="archivo" id="fileInput">
        </div>
        
        <!-- Dropdown para seleccionar archivo a modificar -->
        <div class="form-group">
            <label for="fileToModify">Selecciona una película a modificar</label>
            <select class="form-control" id="fileToModify" name="fileToModify">
                {% for video in catalogo %}
                    <option value="{{ video.id }}">{{ video.nombre }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="fileToModify">Selecciona una opción</label>
            <select class="form-control" id="tipoSubida" name="tipoSubida">
                <option value="1">Local</option>
                <option value="2">Google Cloud</option>
            </select>
        </div>

        <button type="button" class="btn btn-primary" onclick="uploadFile()">Subir archivo</button>
       
        <div id="progressBarContainer">
            <progress id="progressBar" max="100" value="0"></progress>
            <span id="progressPercentage">0%</span>
        </div>
    </form>
    <small><b>Problema</b></small>
    <small>
        Al ejecutar la aplicación en tres réplicas de Docker, enfrenamos una  dificultad para que todas compartan los archivos subidos. Actualmente, estamos utilizando un volumen local, pero este enfoque no garantiza que las réplicas vean los mismos archivos.
    </small> 
    <br>   
        <small><b>Solución:</b></small>
        <small>Para lograr que las tres réplicas compartan el mismo volumen y, por lo tanto, tengan acceso a los archivos subidos desde cualquiera de ellas, puedes adoptar una solución de almacenamiento compartido. Dos opciones comunes son utilizar un servicio de almacenamiento en la nube, como Google Cloud Storage, o un sistema de almacenamiento compartido en red, como NFS.</small>
</div>

 
 
<!-- Agregar el script de Bootstrap y jQuery (necesarios para algunos componentes de Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>
function uploadFile() {
    var fileInput = document.getElementById('fileInput');
    var fileToModify = document.getElementById('fileToModify').value;
    var tipoSubida = document.getElementById('tipoSubida').value;
    var progressBarContainer = document.getElementById('progressBarContainer');
    var progressBar = document.getElementById('progressBar');
    var progressPercentage = document.getElementById('progressPercentage');

    var file = fileInput.files[0];
    if (!file) {
        alert('Por favor, selecciona un archivo.');
        return;
    }

    // Validar el tamaño del archivo (entre 1MB y 100MB)
    var maxSizeInBytes = 100 * 1024 * 1024; // 100 MB
    var minSizeInBytes = 1 * 1024 * 1024;   // 1 MB

    if (file.size > maxSizeInBytes || file.size < minSizeInBytes) {
        alert('El tamaño del archivo debe estar entre 1MB y 100MB.');
        return;
    }

    var formData = new FormData();
    formData.append('file', file);
    formData.append('fileToModify', fileToModify);
    formData.append('tipoSubida', tipoSubida);

    var xhr;
    var totalRequests = (tipoSubida === '1') ? 3 : 1;  // Número total de solicitudes
    var completedRequests = 0;  // Contador de solicitudes completadas

    function sendRequest() {
        xhr = new XMLHttpRequest();

        xhr.upload.onprogress = function(event) {
            if (event.lengthComputable) {
                var percentage = ((completedRequests * 100) + (event.loaded / event.total) * 100) / totalRequests;
                progressBar.value = percentage;
                progressPercentage.innerText = percentage.toFixed(2) + '%';
            }
        };

        xhr.onload = function() {
            completedRequests++;

            if (completedRequests === totalRequests) {
                // Todas las solicitudes se han completado, mostrar el 100%
                progressBar.value = 100;
                progressPercentage.innerText = '100%';
            } else {
                // Enviar la siguiente solicitud
                sendRequest();
            }
        };

        xhr.open('POST', '/streaming/subir-archivo', true);
        xhr.send(formData);

        progressBarContainer.style.display = 'block';
    }

    // Iniciar las solicitudes
    sendRequest();
}
</script>

</body>
</html>
